@import "../libs/bootstrap/css/bootstrap.css";
@import "../libs/font-awesome/css/font-awesome.min.css"; // Our SASS Files
// @import "includes/varibles";
// @import "includes/mixins";
// @import "includes/stack";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400&subset=cyrillic';

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 14px;

    & > .container-fluid {
        padding: 0;
    }
}

.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 11, 60, 0.8);
}

.grey-background {
    background-color: rgb(247, 247, 247);
}

.white-background {
    background-color: rgb(255, 255, 255);
}

.container-fluid {
    max-width: 100%;
    overflow: hidden;
}

.btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    transition: 400ms;

    a {
        color: #fff;
    }

    a:active,
    a:hover,
    a:visited {
        text-decoration: none;
    }

    &:hover {
        background-color: #fff;
        color: #000;

        a {
            color: #000;
        }
    }
}

.btn-transparent-violet {
    color: #9F87D2;
    background-color: transparent;
    border-color: #9F87D2;
    transition: 400ms;
    font-size: 20px;
    padding: 10px 20px;

    a {
        color: #9F87D2;
    }

    a:active,
    a:hover,
    a:visited {
        text-decoration: none;
    }

    &:hover {
        background-color: #9F87D2;
        color: #fff;

        a {
            color: #fff;
        }
    }
}

.btn-transparent-blue {
    color: #0EB1C2;
    background-color: transparent;
    border-color: #0EB1C2;
    transition: 400ms;
    font-size: 20px;
    padding: 10px 25px;

    a {
        color: #0EB1C2;
    }

    a:active,
    a:hover,
    a:visited {
        text-decoration: none;
    }

    &:hover {
        background-color: #0EB1C2;
        color: #fff;

        a {
            color: #fff;
        }
    }
}

a:active {
    color: inherit;
}

#top {
    position: relative;
    height: 692px;
    overflow: hidden;
    color: #fff;
    display: flex;

    & > div {
        height: 100%;
        width: 100%;
    }

    & > div > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
    }

    #video_background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -100;
        width: 100%;
        height: auto;
    }

    #top-row {
        margin: 15px 30px;

        #top-logo img {
            width: 213px;
        }
    }

    #top-menu {
        list-style: none;
        font-size: 14px;

        li {
            display: inline-block;

            a {
                display: block;
                padding: 10px 20px;
                color: #fff;
                font-weight: 300;
                text-transform: uppercase;
                text-decoration: none;
            }

            &.active {
                background-color: #fff;
                border-radius: 4px;

                a {
                    color: #000;
                    text-transform: none;
                    font-weight: bold;
                }
            }
        }
    }

    #watch-highlight-reel {
        padding: 15px 20px;

        a {
            font-size: 20px;
            font-weight: 300;
        }

        .fa {
            margin-left: 10px;
            font-size: 24px;
        }
    }

    #video-elevated {
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 20px;
        }
    }

    #integrated-solutions {
        margin-left: auto;
        margin-right: auto;
        width: 827px;

        & > div {
            width: 100%;
            display: table;

            & > a {
                display: table-cell;
                color: #fff;
                transition: 500ms;

                &:active,
                &:hover {
                    text-decoration: none;
                    color: silver;
                }

                .sn {
                    margin-top: 10px;
                }
            }
        }
    }

    #top-overlay {
        display: flex;
        background-color: #000;
        opacity: 0.5;
        height: 40px;
        font-size: 20px;

        & > div {
            margin: auto;
        }
    }
}

#brands {
    width: 100%;
    height: 360px;
    display: table;

    & > div {
        display: table-row;
        height: 180px;

        & > div {
            width: 20%;
            display: table-cell;
            border-right: 1px solid rgb(227, 227, 227);
            border-bottom: 1px solid rgb(227, 227, 227);
            text-align: center;
            vertical-align: middle;

            &:last-child {
                display: table-cell;
                border-right: 0;
            }

            img {
                max-width: 70%;
                max-height: 70%;
            }
        }

        &:last-child > div {
            border-bottom: 0;
        }
    }
}

.image-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 850px;

    h1 {
        color: #25737C;
        font-size: 48px;
    }

    p {
        font-size: 22px;
        margin: 40px 0;
        line-height: 40px;
    }

    &.side-left {
        & > .block-text {
            width: 45%;
        }

        & > .block-img {
            width: 45%;
            position: relative;
        }

        img {
            max-height: 800px;
            position: absolute;
            top: -400px;
            right: 30%;
        }
    }

    &.side-right {
        & > .block-text {
            width: 40%;
        }

        & > .block-img {
            width: 40%;
            position: relative;
        }

        img {
            position: absolute;
            left: 30%;
        }
    }
}

#refreshing {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #25737C;
        font-size: 52px;
    }

    p {
        width: 80%;
        font-size: 22px;
        margin-top: 20px;
    }
}

#table {
    img {
        height: 800px;
        top: -400px;
    }
}

#people {
    img {
        height: 600px;
        top: -300px;
    }
}

#network {
    img {
        height: 600px;
        top: -300px;
    }
}

#magic {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #25737C;
        font-size: 52px;
    }

    & > p {
        font-size: 22px;
        margin-top: 20px;
    }

    & > div {
        width: 100%;
        display: table;
        text-align: center;
        margin: 70px 0;

        & > div {
            border-right: 1px solid rgba(0, 0, 0, 0.08);
            display: table-cell;
            color: #000;
            transition: 500ms;
            width: 20%;
            text-align: center;
            padding: 0 2%;

            &:first-child .lead {
                color: #714DBD;
            }

            &:nth-child(2) .lead {
                color: #5356BD;
            }

            &:nth-child(3) .lead {
                color: #0D61C2;
            }

            &:nth-child(4) .lead {
                color: #0E92C2;
            }

            &:last-child {
                border-right: 0;

                .lead {
                    color: #0EB1C2;
                }
            }

            .sn {
                margin-top: 10px;
                color: #6D6B6C;
                font-weight: bold;
                font-size: 20px;
            }

            .lead {
                font-size: 28px;
            }

            p {
                text-align: center;
                margin: 40px auto 0;
                font-size: 16px;
            }

            img {
                width: 124px;
                height: auto;
            }
        }
    }
}

#made-easy {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #4A4A4A;
        font-size: 52px;
        margin-top: 0;

        span {
            color: #0EB1C2;
        }
    }

    & > div {
        margin-top: 60px;
        display: table;
        width: 100%;

        & > div {
            display: table-row;

            & > div {
                display: table-cell;
                border-top: 1px solid #E1E1E1;
                border-left: 1px solid #E1E1E1;
                padding: 70px;
                width: 50%;

                &:last-child {
                    border-right: 1px solid #E1E1E1;
                }

                & > div {
                    display: flex;

                    img {
                        width: 94px;
                        height: 94px;
                    }

                    h3{
                      margin-top: 0;
                    }
                }
            }
        }
    }
}
